@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Geomanist;
  src: url("Asset/font/Geomanist-Medium.woff");

}

@font-face {
  font-family: Book;
  src: url("Asset/font/Geomanist-Book.woff");

}

@font-face {
  font-family: Geomanist-light;
  src: url("Asset/font/Geomanist-Light.woff");
}

@font-face {
  font-family: Geomanist-Regular;
  src: url("Asset/font/Geomanist-Regular.woff");
}

@font-face {
  font-family: LibreBaskerville;
  src: url("Asset/font/LibreBaskerville-Regular.woff");
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  background: url("Asset/home page.jpg");
  background-size: cover;
  /* background-position: center; */
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px auto;
  height: 80px;
  align-items: center;
  padding-inline: 10%;
  top: 0;
  z-index: 3;
  background: transparent;
  gap: 40px;

}

.mobile_menu {
  width: 100%;
}

.links {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.links ul {
  display: flex;
  gap: 10px;
}

.links ul a {
  text-decoration: none;
  font-size: 16px;
  padding-left: 48px;
  font-family: Geomanist;
  color: #3a3a3a;
}

.phone {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
}

.phone a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-family: Geomanist;
}

.phone i {
  background: transparent;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  padding-inline: 8px;
  padding-block: 4px;
  font-size: 20px;
}

 select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #fa1d8f !important; 
}

select{
  border-radius:0 !important;
  border: 1px solid #fa1d8f !important;
  background-color: transparent !important;
} 

.hero {
  width: 80%;
  padding-top: 240px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hero h2 {
  color: #2b2a2a;
  font-size: 80px;
  width: 40%;
  font-family: Geomanist-light;
  font-weight: 100;
  line-height: 80px;

}

.hero h4 {
  font-size: 30px;
  width: 100%;
  font-family: Geomanist-Regular;
  font-weight: 100;
  line-height: 80px;
  color: #616161;

}

.hero h2 span {
  font-family: Geomanist;
}

.line {
  width: 8%;
  border-radius: 5px;
  height: 5px;
  background: #ef375d;
}

.hero_botton, .blog_botton {
  color: white;
  font-family: Geomanist;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  width: 20%;
  height: 80px;
  border: none;
  background: rgb(250, 29, 143);
  background: -moz-linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
  background: linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);


}
.blog_botton{
  height: 60px !important;
  font-size: 14px !important;
}

#form {

  width: 80%;
  height: max-content;
  background: white;
  z-index: 2;
  position: absolute;
  top: 90vh;
  left: 50%;
  border-radius: 5px;
  transform: translatex(-50%);
  -webkit-box-shadow: 9px 25px 54px -23px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 9px 25px 54px -23px rgba(0, 0, 0, 0.62);
  box-shadow: 9px 25px 54px -23px rgba(0, 0, 0, 0.62);
}

#form {
  display: flex;
  gap: 20px;
  padding: 50px 100px;
  justify-content: space-between;

}

#form .describ h2 {
  font-family: LibreBaskerville;
  font-size: 20px;
}

.describ h3 {
  font-size: 50px;
  width: 380px;
  color: #2a2a2a;
  font-family: Geomanist-light;
}

 .describ h3 span {
  font-family: Book;
  color: #2a2a2a;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  width: 90%;
  
}

.name label {
  color: #2b2a2a;
  display: flex;
  gap: 10px;
  font-size: 16px;
  width: 100%;
  font-family: Book;
}

.name label a {
  text-decoration: none;
}

.name label input {
  width: 20px;
  height: 20px;
  background: transparent;

}

.email input,
.name input {
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid #484848;
  padding-bottom: 17px;


}
.textarea textarea{
  border-bottom: 1px solid #484848;

}
.email {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input::placeholder {
  color: #9d9d9d;
  font-size: 14px;
}


#email input:focus,
#email input:valid,
.textarea textarea:focus,
.textarea textarea:focus,
.name input:focus,
.name input:valid {
  border-color: #fa1d8f;
 
}


#submit {
  width: 90%;
  height: auto;
  font-size: 16px;
  color: white;
  font-family: Geomanist;
  letter-spacing: 3px;
  border-radius: 10px;
  border: none;
  background: rgb(255, 179, 6);
  background: -moz-linear-gradient(135deg, rgba(255, 179, 6, 1) 0%, rgba(108, 164, 47, 1) 76%);
  background: -webkit-linear-gradient(135deg, rgba(255, 179, 6, 1) 0%, rgba(108, 164, 47, 1) 76%);
  background: linear-gradient(135deg, rgba(255, 179, 6, 1) 0%, rgba(108, 164, 47, 1) 76%);
}

#last_submit {
  width: 90%;
  height: 60px;
  font-size: 16px;
  color: white;
  font-family: Geomanist;
  letter-spacing: 3px;
  border-radius: 10px;
  border: none;
  background: rgb(255, 179, 6);
  background: -moz-linear-gradient(135deg, rgba(255, 179, 6, 1) 0%, rgba(108, 164, 47, 1) 76%);
  background: -webkit-linear-gradient(135deg, rgba(255, 179, 6, 1) 0%, rgba(108, 164, 47, 1) 76%);
  background: linear-gradient(135deg, rgba(255, 179, 6, 1) 0%, rgba(108, 164, 47, 1) 76%);
}


.first_page {
  background: url("Asset/Home-page.png");
  height: max-content;
  padding-bottom: 100px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.firstpage_content {
  width: 80%;
  margin: auto;
  gap: 6%;
  padding-top: 228px;
  display: flex;
  flex-wrap: wrap;

  * {
    flex: 30%;
  }
}

.first_colum {
  flex: 20%;
  /* background: #3a3a3a; */
}

.first_colum h3 {
  padding-top: 40px;
  color: #2b2a2a;
  font-size: 70px;
  width: 100%;
  font-family: Geomanist-light;
  font-weight: 400;


}

.first_colum h3 span {
  font-family: Book;
  color: #2b2a2a;
}

.line {
  margin-top: 30px;
  position: relative;
  right: 28px;
  width: 100px;
  border-radius: 5px;
  height: 5px;
  background: #ef375d;

}

.third_colum .image,
.second_colum .image {

  /* height: 550px; */

}

.second_colum .image img {
  width: 100%;
  min-height: 100%;
}

.third_colum .image {
  margin-top: 100px;
}

.third_colum .image img {
  width: 100%;
  height: 100%;
}

.second_colum .content {
  padding-top: 40px;
  color: #2b2a2a;
}

.third_colum .content {
  color: #2b2a2a;
}

.third_colum .content h2,
.second_colum .content h2 {
  font-family: Geomanist-light;
  font-size: 45px;
  width: 100%;
  font-weight: 400;

}

.third_colum .content h3,
.second_colum .content h3 {
  font-family: Book;
  font-size: 24px;
  width: 100%;
  padding-top: 31px;


}

.third_colum .content p,
.second_colum .content p,
.first_box p {
  font-family: Geomanist-light;
  font-size: 18px;
  width: 100%;
  padding-top: 24px;

}

.third_colum .content span,
.second_colum .content span,
.first_box p span {
  font-family: Book;
  color: #616161;
}

.secondpage {
  background: url("Asset/Home-page3.png");
  width: 100%;
  height: fit-content;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-bottom: 100px;

}

.secondpage_content {
  width: 80%;
  margin: auto;
  padding-top: 110px;

}

.htwo {
  font-family: LibreBaskerville !important;
  font-weight: 600 !important;
  font-size: 27px;
  background: #FA1D8F;
  background: linear-gradient(to right, #FA1D8F 10%, #175EAD 32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondpage_content h3 {
  margin-top: 37px;
  width: 35%;
  line-height: 75px;
  font-family: Geomanist-light;
  font-size: 70px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.secondpage_content h3 span {
  font-family: Book;
}

.btn {
  background: rgb(255, 179, 6);
  background: -moz-linear-gradient(135deg, rgba(255, 179, 6, 1) 0%, rgba(108, 164, 47, 1) 76%);
  background: -webkit-linear-gradient(135deg, rgba(255, 179, 6, 1) 0%, rgba(108, 164, 47, 1) 76%);
  background: linear-gradient(135deg, rgba(255, 179, 6, 1) 0%, rgba(108, 164, 47, 1) 76%);
  border-radius: 10px;
  font-size: 22px;
  margin-top: 60px;
  height: 82px;
  width: 445px;
  border: none;

}

.btn i {
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
}

.btn a {
  text-decoration: none;
  color: white;
}

.thirdpage {
  width: 80%;
  margin: auto;
  height: fit-content;
}

.thirdpage_content {
  margin-top: 110px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 60px;

}

.box {
  min-height: 514px;
  position: relative;
  overflow: hidden;
  /* background: #000; */
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box:not(:first-child)::after {
  position: absolute;
  top: 100%;
  /* Set initial top position to the bottom */
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  background: -moz-linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
  background: linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
  opacity: 0;
  transition: .5s ease-in-out;
}

.box:hover::after {
  top: 0;
  /* Move the top position to 0 to reveal the pseudo-element */
  opacity: .9;
}

.content_box {
  position: absolute;
  z-index: 2;
  left: 10%;
  bottom: -10%;
  transition: .5s ease-in-out;
}

.box:hover .content_box {
  bottom: 70%;
}

.box:hover .content_box h2 {

  opacity: 1;
}

.content_box h3, .content_boxx h3  {
  font-family: Book;
  font-size: 24px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.content_box h2 {

  opacity: 0;
  font-family: Geomanist-light;
  width: 80%;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  transition: .5s ease-in-out;

}

.icon {
  position: absolute;
  right: 10%;
  bottom: 10px;
  z-index: 2;

}

.icon i {
  font-size: 40px;
  color: white;
}

.first_box {
  padding: 10px;
}

.hthree {
  margin-top: 37px;
  width: 100%;
  line-height: 55px;
  font-family: Geomanist-light;
  font-weight: 400;
  font-size: 60px;

}

.hthree span {
  font-family: Book;
}

.fourthpage {
  background: url("Asset/Home-page4.png");
  background-size: cover;
  width: 100%;
  height: fit-content;
  padding-bottom: 113px;
}

.fourthpage_content {
  width: 80%;
  margin: auto;
  padding-top: 110px;
}

.fourthpage_content p {
  font-size: 20px;
  font-family: Book;
  color: white;
  padding-top: 30px;
}

.fourthpage_content .hthree {
  color: white;
}
.tenthpage_content .line,
.fourthpage_content .line {
  background: white;
}

.fifthpage_content .gadient,
.fourthpage_content .gadient,
.gradientt {
  font-family: LibreBaskerville !important;
  font-weight: 600 !important;
  font-size: 27px;
  background: #ffe4f2;
  background: linear-gradient(to right, #edd1e0 10%, #2071ce 32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box_content {
  margin-top: 110px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;

}

.fourbox {
  height: 380px;
  position: relative;
  overflow: hidden;
  /* background: #000; */
}

.fourbox:nth-child(odd) {
  background: #fffcee;
}

.fourbox:nth-child(even) {
  background: #f4ffe5;
}

.boxcontent {
  padding: 10%;
}

.boxcontent h2 {
  margin-top: 30px;
  font-size: 22px;
  font-family: Book;
  color: #2b2a2a;
  font-weight: 400;
}

.boxcontent h3 {
  font-family: Geomanist-light;
  font-size: 18px;
  width: 100%;
  margin-top: 24px;
  color: #2b2a2a;
  font-weight: 400;
}

.boxcontent span {
  font-family: Book;

}

.fifthpage {
  background: url("Asset/Home-page5.png");
  background-size: cover;
  width: 100%;
  height: fit-content;
  padding-bottom: 100px;
}

.fifthpage_content {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 300px;
}

.fifthpage_content .hthree {
  color: white;
}

.fifthpage_content p {
  font-family: Geomanist-light;
  margin-top: 32px;
  color: white;
  font-size: 20px;
}

.seventhpage_content p span,
.fifthpage_content p span {
  font-family: Book;

}

.steps {
  font-family: "Lato", sans-serif;
  position: relative;
  margin-top: 90px;
  display: flex;
}

.steps .lines {
  border-bottom: 2px dotted #f2e704;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  width: 90%;
  z-index: 100;

}

.steps .step {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 19%;
  z-index: 200;
}

.steps .step .circle {
  color: white;
  background: #845b39;
  border: 2px dotted #f2e704;

  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  display: inline-block;
  font-size: 20px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  width: 40px;
  z-index: 500;
}



.steps .step .circle.complete {
  background: #f4f3f1;
  border: 2px solid #7f8272;
  color: #ffffff;
}

.steps .step .label {
  color: #ffffff;
  display: block;
  font-weight: 300;
  margin-top: 10px;
}



/* end fifthpage */

/* start sixth page */

.sixthpage {
  width: 100%;
  height: fit-content;
  padding-bottom: 110px;
}

.sixthpage_content {
  padding-top: 100px;
  width: 80%;
  margin: auto;
}

.sixthpage_content .buttonf {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sixthpage_content .buttonf .hero_botton {
  font-size: 14px;
  font-family: Geomanist-light;
  font-weight: 600;
  letter-spacing: 1px;
}

.flexContent {
  width: 100%;
  /* background: #000; */
  display: flex;

  gap: 40px;
  margin-top: 100px;
}

.images {
  width: 100%;
  height: 100%;

  /* background: #e11919; */
}

.images img {
  width: 100%;
  height: 100%;
}

.expand_content {
  width: 100%;

  /* background: #175EAD; */
}

.expand:not(:first-child) {
  margin-top: 50px;
}

.expand {
  width: 100%;
  padding-bottom: 10px;
  margin: auto;
  border-bottom: 1px solid #616161;
}

.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}

.question h2 {
  font-size: 24px;
  font-family: Book;
  color: #ef375d;
  font-weight: 500;
}

.question i {
  font-size: 40px;
  font-weight: 200;
}

.ans p {
  margin-top: 10px;
  width: 100%;
  font-weight: 500;
  font-family: Geomanist-light;
  font-size: 20px;
  color: #2b2a2a;
  padding-bottom: 40px;
}

.ans {
  display: none;
}

.expand .active {
  display: block;
}

/* end sis page */

/* start seven page */
.seventhpage {
  width: 100%;
  height: 100vh;
  background: #f3e8db;
}

.seventhpage_content {
  padding-top: 100px;
  width: 80%;
  margin: auto;

}

.seventhpage_content p {
  font-family: Geomanist-light;
  margin-top: 32px;
  color: #2b2a2a;
  font-size: 20px;
}


.swipermain {
  width: 80%;
  overflow-y: hidden;
  margin: auto;
}

.swipermain::-webkit-scrollbar {
  display: none;
}

.swiper-pagination {
  position: relative !important;
  top: 20px !important;
}

.swiper-wrapper {
  scroll-snap-align: inherit;
}

.review-box {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;

}

.review-box .feedback p {
  font-size: 20px;
  font-family: Geomanist-light;
  width: 80%;
  color: #2b2a2a;
  font-weight: 500;
  line-height: 25px;
}

.feddback_user {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100px;
  gap: 30px;
  margin-top: 20px;


}

hr {
  margin-top: 60px;
  height: 1px;
  background-color: #dbd5d5;
  display: block;
  clear: both;
  border: none;
}

.feddback_user .userimage {
  width: 50px;
  height: 50px;
}

.feddback_user img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.userdetails h2 {
  margin-top: 0;
  font-size: 22px;
  font-family: Book;
}

.userdetails h2 {
  margin-top: 0;
  font-size: 22px;
  font-family: Book;
}

.userdetails h4 {
  margin-top: 0;
  font-size: 16px;
  font-family: Geomanist-light;
  font-weight: 200;
}

.swiper-testimonial {
  padding: 100px 20px;
  padding-top: 30px;
}

.test-arrowbox {
  display: flex;
  gap: 30px;
  position: relative;
  top: 10px;
  left: 88%;

  /* background: #175EAD; */
}

.test-arrowbox button {
  color: rgb(39, 36, 36);
  font-size: 30px;
  border-radius: 5px;
  width: 60px;
  height: 50px;
  border: 1px solid #fa1d8f;
  background: transparent;

}

.test-arrowbox button:hover {
  color: white;
  font-size: 30px;
  border-radius: 5px;
  border: none;
  background: -moz-linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
  background: linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%)
}

.swiper-slide {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: fit-content !important;
  height: 100%;
  position: relative;

}

.menu {
  display: none;
}

.close {
  display: none;
}
 .eightp {
  font-family: Geomanist-light;
  margin-top: 32px;
  color:#2b2a2a;
  font-size: 20px;
}
.nav .active{
  height: 100% !important;
 background: transparent !important;
 color: rgb(246, 10, 191) !important;
 border: none !important;
 border-bottom: 2px solid red !important;
 border-radius: 0px !important;
 width: 100% !important;
 display: block !important;
 outline: none !important;

}
.nav-link{
  color: #b7ac9e !important;
}
.boxx_content{
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;

}
.boxx {
  width:100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  /* background: #000; */
}

.boxx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.boxx:after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  background: rgb(252,148,65);
  background: -moz-linear-gradient(141deg, rgba(252,148,65,1) 0%, rgba(238,48,152,1) 51%, rgba(76,95,187,1) 100%);
  background: -webkit-linear-gradient(141deg, rgba(252,148,65,1) 0%, rgba(238,48,152,1) 51%, rgba(76,95,187,1) 100%);
  background: linear-gradient(141deg, rgba(252,148,65,1) 0%, rgba(238,48,152,1) 51%, rgba(76,95,187,1) 100%);
  opacity: 0;
  transition: .5s ease-in-out;
}

.boxx:hover::after {
  top: 0;
  opacity: .9;
}

.content_boxx {
  position: absolute;
  z-index: 2;
  left: 10%;
  bottom: -20%;
  transition: .5s ease-in-out;
}

.boxx:hover .content_boxx {
  bottom: 0;
}
.tenthpage{
    background: url("Asset/Home-page6.png");
      
}
.colum{
  gap: 60px;
}

.fotter_content{
  display: grid;
  grid-template-columns:38% repeat(auto-fit, minmax(200px, 1fr));
  gap: 0px;

}
.linkss ul{
padding-left: 0 !important;
display: flex;
flex-direction: column;
gap: 15px;
}
.linkss ul a{
  display: block;
font-size: 18px;
font-family: Book;
text-decoration: none;
color: #9fa0b1;
text-align: left;

}
.linkss ul li{
  display: flex;
  gap: 10px;
  align-items: center;
  
}
.linkss ul i{
background: transparent;
border: 2px solid;
border-image: linear-gradient(to top left, #FA1D8F 0%, #175EAD 100%);
border-image-slice: 1;
background: #FA1D8F;
background: linear-gradient(to top left, #FA1D8F 0%, #175EAD 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

padding-inline: 8px;
padding-block: 4px;
font-size: 20px;
height: fit-content;
}

@media screen and (max-width: 1463px) {
  #form {
    padding: 34px 18px;
  }

  #form .describ h3 {
    width: 100%;
  }
}
@media screen and (max-width:910px) {
  
  #form {
    top: 80vh;
  }

  .firstpage_content {
    padding-top: 300px;
  }
}
@media screen and (max-width: 970px) {
  .fotter_content div{
    border-right: none
    ;
  }
  .fotter_content{
    grid-template-columns:100%;  
}
.linkss{
padding-left: 0;
}
 #new_form{
  flex-direction: column;
 }
 .colum{
  flex-direction: column-reverse;
 gap: 5px;
 }
 .textarea textarea{
  width: 90%;
  height: 40px;
 }
  #form .describ h3 {
    font-size: 30px;
  }
  .name,
  .email {
    gap: 12px;
  }

  #submit {
    margin-top: 20px;
  }

  form {
    top: 70vh;
  }

}
@media screen and (max-width: 1610px) {
  .linkss {
   
    margin-top: 20px;
}
}
@media screen and (max-width: 1190px) {
  
  .flexContent{
    flex-direction: column;
  }
  form {
    top: 85vh;
  }

  input::placeholder {
    font-size: 12px;
  }

  .name label {
    font-size: 12px;
  }

  .name label input {
    width: 15px;
    height: 15px;
  }

  .email input,
  .name input {
    padding-bottom: 0;
  }

  #submit {
    height: 75px;
  }

  #form .describ h3 {
    width: 100%;
  }

  #form {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 0px;
    padding: 50px 100px;
    justify-content: space-between;
    align-items: center;
  }

}
@media screen and (max-width: 1410px) {
  nav {
    padding-inline: 1%;
  }

  #form {
    padding: 25px 18px;
  }

  .third_colum {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero h2 {
    font-size: 3.5rem;
    width: 100%;
    line-height: 35px;
  }

  .roww {
    flex-direction: column;
  }

  .secondpage,
  header {
    background-position: center;
  }

  nav {
    position: fixed;
    background: -moz-linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
    background: linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
  }

  .mobile_menu {
    transform: translatex(100%);
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
  }

  .links {
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
    background: linear-gradient(135deg, rgba(250, 29, 143, 1) 0%, rgba(23, 94, 173, 1) 100%);
  }

  .links ul {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .links ul a {
    color: white;
  }

  .close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  .close i {
    font-size: 10vw;
    color: white;
    cursor: pointer;
  }

  .menu i {
    font-size: 40px;
    color: white;
  }

  .menu {
    display: block;
  }
}
@media screen and (max-width:710px){
  .boxx_content{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
 .steps{
 flex-direction: column;
 gap: 50px;
 }
 .steps .step{
  display: flex;
  width: 100%;
  gap: 15px;
 }
 .steps .lines {
  height: 90%;
  border-left: 2px dotted #f2e704;
  border-bottom: none;
  transform: translateX(0);
  left:20px ;
 }
 .steps {
  margin-top: 40px;
 }
 

}